name: Reusable Deploy Workflow

on: 
  workflow_call:
    inputs:
      artifact-name:
        description: The name of the deployable artifact files
        required: false
        default: dist
        type: string


jobs:
  reusable-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: GET CODE
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.artifact-name}}
      - name: LIST files
        run: ls
      - name: OUTPUT INFORMATION
        run: echo "Deploying & uploading..."
